@font-face {
  font-family: "iconfont"; /* Project id 4469655 */
  src: url('iconfont.woff2?t=1710750166177') format('woff2'),
       url('iconfont.woff?t=1710750166177') format('woff'),
       url('iconfont.ttf?t=1710750166177') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-taxi:before {
  content: "\e65d";
}

.icon-discover:before {
  content: "\e67e";
}

.icon-refund:before {
  content: "\e6ac";
}

.icon-icon-test:before {
  content: "\e633";
}

.icon-icon-test1:before {
  content: "\e634";
}

.icon-caidan:before {
  content: "\e8ac";
}

.icon-dianyingpiao:before {
  content: "\e8ae";
}

.icon-ertongpiao:before {
  content: "\e8af";
}

.icon-hongbao:before {
  content: "\e8b0";
}

.icon-guanzhu:before {
  content: "\e8b1";
}

.icon-maiyizengyi:before {
  content: "\e8b2";
}

.icon-lihe:before {
  content: "\e8b3";
}

.icon-lipinka:before {
  content: "\e8b4";
}

.icon-pengyouquan:before {
  content: "\e8b5";
}

.icon-mingxinghuodong:before {
  content: "\e8b6";
}

.icon-shuju:before {
  content: "\e8b9";
}

.icon-xiaojuchang:before {
  content: "\e8bd";
}

.icon-yanjing:before {
  content: "\e8bf";
}

.icon-xiaomi:before {
  content: "\e8c0";
}

.icon-charts-line:before {
  content: "\e826";
}

.icon-cart-empty:before {
  content: "\e827";
}

.icon-charts-pie:before {
  content: "\e828";
}

.icon-charts-curve:before {
  content: "\e829";
}

.icon-customer-center:before {
  content: "\e82a";
}

.icon-money-finance-seller:before {
  content: "\e832";
}

.icon-money-tax-rebate:before {
  content: "\e833";
}

.icon-add:before {
  content: "\e835";
}

.icon-earth:before {
  content: "\e856";
}

.icon-global:before {
  content: "\e857";
}

.icon-gongyinglianfuwu:before {
  content: "\e877";
}

.icon-shengyidai:before {
  content: "\e87c";
}

.icon-shujucanmou:before {
  content: "\e87e";
}

.icon-calendar:before {
  content: "\e74a";
}

.icon-shequ:before {
  content: "\e8b8";
}

.icon-gerenzhongxin-zhihui:before {
  content: "\e61e";
}

